---
groups:
  #  This groups defines what to do on phase1
  phase1:
    hosts:
    - test01
  # Packages you want to install from the beginning
    packages:
  # python-apt is needed for ansible's dry run
      - python-apt
      - git
      - vim
  # ssh credentials after phase1 has run
    phase2_ansible_user:
      name: admin
      password: test
      ssh_key: "/home/admin/.ssh/admin.pub"
      ssh_path: "/home/admin/.ssh"
      ssh_port: 2222
  # are we going to change sshd config file?
    sshd_changes: true
# this is a regular group
  raspbian:
    hosts:
    - test01
    - test02
    packages:
      - python-apt
      - git
      - vim
# this is alsi a regular group
  dockernode:
    hosts:
    - test01
    docker_users:
    - admin
hosts:
# The variables for this host are the ones before running phase1
#   This will be overwritten after running phase1 automatically
  test01:
    ansible_ssh_port: 22
    ansible_user:
      name: pi
      password: raspberry
    ip: 192.168.0.1
# This is just another host that will not run phase1
  test02:
    ansible_ssh_port: 2222
    ansible_user:
      name: admin
      password: test
    ip: 192.168.0.2
