[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyu2f = "*"
pytest-cov = "*"
bandit = "*"
pyasn1 = "*"
cryptography = "*"

[requires]
python_version = "3.7"
